p {
    color: rgb(13, 255, 0);
}

.bold-item {
    font-weight: bold;
}

#main-title {
    color: rgb(0, 4, 255);
}

h2 {
    color: green;
}

.priority-class {
    font-weight: bold;;
}

#priority-id {
    color: rgb(255, 0, 0);
}